.refresh-icon-anim {
    animation-name: refresh-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes refresh-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}